.header {
  border-bottom: solid;
  border-color: black;
  border-width: 8px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  background-color: #ffc038;
}
.header-name {
  display: flex;
  align-items: center;
  font-size: 50px;
  padding-left: 80px;
  font-weight: 900;
  color: #242424;
}
.navLinks {
  display: flex;
  gap: 3rem;
  padding-right: 80px;
  list-style-type: none;
  align-items: center;
}
.navLinks a {
  color: black;
  font-weight: 900;
  text-decoration: none;
  list-style-type: none;
}
.navLinks a:hover {
  color: #535bf2;
}
.fa-shopping-cart {
  font-size: 30px;
}
.cartQuantity {
  width: 15px;
  padding-left: 5px;
  color: white;
  display: inline-block;
  border-radius: 50%;
  background-color: black;
}
