.header {
  border-bottom: solid;
  border-color: white;
  padding: 40px;
  display: flex;
  justify-content: space-between;
}
.header-name {
  display: flex;
  align-items: center;
}
.navLinks {
  display: flex;
  gap: 3rem;
  padding-right: 80px;
  list-style-type: none;
}
.navLinks a {
  color: white;
}
