.homeMainImg {
  width: 100%;
}
.home {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.inspiring {
  display: flex;
  flex-direction: column;
  height: 700px;
  justify-content: center;
  align-items: center;
  gap: 50px;
}
.shopBtn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  background-color: #dbcfcf;
  color: rgb(54, 51, 48);
  cursor: pointer;
  transition: border-color 0.25s;
  text-decoration: none;
  list-style-type: none;
}
.shopBtn:hover {
  border-color: #535bf2;
  border-width: 2px;
}
