.cart-card-img {
  width: 150px;
  height: 150px;
}
.productCartCard {
  display: flex;
  justify-content: space-around;
  padding: 40px 40px 0 40px;
  width: 100%;
}

.cart-img {
  width: 25%;
}
.cart-infos {
  width: 50%;
}
.cart-quantity {
  width: 15%;
}
