.productCard {
  color: black;
  display: flex;
  flex-direction: column;
  width: 250px;
  border-radius: 8px;
}
.productCard-infos {
  margin-top: 20px;
}
.productCard-name {
  font-weight: bold;
}
