.product-category a,
li {
  text-decoration: none;
  list-style-type: none;
  color: white;
}
.product-category a {
  margin-left: 5px;
}
.product-category a:hover {
  color: #535bf2;
}
.shop {
  display: flex;
  min-height: 100%;
}
.productNav {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  padding: 0 50px 0 0;
}
.category-title {
  padding-left: 40px;
  font-size: 20px;
  font-weight: 600;
}
.product-category {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.productList {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 80px;
  background-color: white;
  padding: 50px;
  justify-content: center;
}
.shop-errorMsg {
  color: red;
  font-size: 30px;
  font-weight: 500;
}
